html {
    background: #222
}

.link {
    color: #222;
    font-weight: bold;
}

.list-item-title .link {
    color: #222 
}

.list-item-title {
    transition: all ease .2s;
    border-bottom: .125rem solid whitesmoke 
}

.list-item-title:hover, .list-item-title:active {
    border-bottom: .125rem solid #222 
}

.social-links .link {
    color: white
}

.writing .list-item-title {
    margin: 0 1rem;
    display: inline-block;
    transition: all ease .2s;
    border-bottom: .125rem solid whitesmoke 
}

.writing .list-item-title:hover, .list-item-title:active {
    border-bottom: .125rem solid #222 
}

@media screen and (min-width: 60em) {
    .app-height-l {
        max-height: 900px;
    }
    .center-none-l {
        margin-left: initial;
        margin-right: initial;
    }
}